* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 980px;
    margin: 10px auto;
    background-color: wheat;
}

#wrapper2 {
    width: 980px;
    margin: 10px auto;
    background-color: wheat;
}

#wrapper3 {
    width: 980px;
    margin: 10px auto;
    background-color: wheat;
}

#wrapper4 {
    width: 980px;
    margin: 10px auto;
    background-color: wheat;
}